.book-form {
  width: 100%;
}

.book-form label {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.book-form input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: -2px -2px 1px #0a1a2d;
  transition: all 0.3s;
}
.book-form input:focus {
  border: none;
  /* transform: scale(1.01); */
  /*outline: 1px solid #0c12d1;
  box-shadow: 3px 3px 7px #00050b; */
  box-shadow: 4px 4px 10px #1454a3;
}

.book-form button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.book-form button:hover {
  background-color: #0056b3;
  color: gold;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.8);
  text-shadow: 2px 2px 1px #000;
}
.book-form button:active {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.book-form button:hover {
  background-color: #0056b3;
}

.book-form .spinner {
  animation: spinner 1s infinite linear;
  margin-left: 10px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
